<div style="border: 1px solid gainsboro; padding: 10px">

  <!-- chart type -->
  <mat-form-field style="width: 100px">
    <mat-label>Charttype</mat-label>
    <mat-select [(value)]="lineChartType">
      <mat-option *ngFor="let chartType of chartTypes" (click)="setChartType(chartType)" [value]="chartType">
        {{chartType}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <br>

  <!-- chart selection -->
  <div style="display: inline-block; padding: 5px 20px" *ngFor="let sensor of sensorList">
    <mat-checkbox color="primary" [checked]="sensor.checked" [(ngModel)]="sensor.checked"
                  (change)="setChartSensor(sensor)">{{sensor.name}}</mat-checkbox>
    <!-- chart Color -->
    <!-- ngx-color-picker package -->
    <input [(colorPicker)]="sensor.color" (colorPickerClose)="setChartColor(sensor)" [cpDisableInput]="true"
           [cpOKButton]="true" style="width: 15px; border: 1px solid black; margin-left: 5px"
           [style.background]="sensor.color"/>
  </div>


  <!-- chart canvas-->
  <div align="center">
    <canvas baseChart width="400" height="400"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
    </canvas>
  </div>


</div>
