
<div style="text-align:center">


  <div>
    <h3>Chart Dashboard</h3>

    <mat-form-field style="padding: 0 10px; width: 120px">
      <mat-label>Chart Count</mat-label>
      <mat-select [(value)]="shownCharts">
        <mat-option *ngFor="let chartCount of numbers" (click)="shownCharts=chartCount" [value]="chartCount">
          {{chartCount}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field style="padding: 0 10px; width: 120px">

      <input matInput [matDatepicker]="startDatePicker" placeholder="Startmonth" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker startView="year"
                      (monthSelected)="setMonthHandler(true, $event,startDatePicker)"></mat-datepicker>
    </mat-form-field>

    <mat-form-field style="padding: 0 10px; width: 120px">

      <input matInput [matDatepicker]="endDatePicker" placeholder="Endmonth" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker startView="year"
                      (monthSelected)="setMonthHandler(false, $event,endDatePicker)"></mat-datepicker>
    </mat-form-field>

  </div>


  <div style=" display: inline-block; margin: 2px
      " *ngFor="let chartCount of getShownChartsCount(); let i = index">
    <app-charts [chartNum]="i" [endMonth]="endDate" [startMonth]="startDate"></app-charts>

  </div>


</div>

